.window-bar
{
    height: 25px;

    cursor: default;

    background-color: rgb(36, 93, 219);
}

.close-icon
{
    margin-top: 2px;
    margin-right: 5px;

    cursor: pointer;

    color: white;
}

.bar-icon
{
    cursor: pointer;

    color: white;
}

.fa-close-thin:before
{
    content: '\00d7';
}
