.App {
  text-align: center;
  background-image: url("./modules/desktop/assets/background.jpg");
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
  height: 100%;
}